{% extends "character_base.html" %}
{% block title %}Discussions{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    textarea {
        width: 100%;
    }

    .textwrapper {
        margin: 5px 0;
        padding: 3px;
    }

    .avatar {
        width: 200px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Conversations de groupes</h1>

<ul>
    <li>
        <a href="/conversation/{{character_id}}/web?current_zone=1">
            Zone
        </a>
    </li>
</ul>

<h1>Conversations à deux</h1>

<ul>
    {% for message in duo_topics %}
    <li>
        {% for concerned in message.concerned %}
        <img src="/media/{{ character_avatar_thumbs_by_ids[concerned] }}" alt="{{ characters_by_ids[concerned].name }}"
            title="{{ characters_by_ids[concerned].name }}" />
        {% endfor %}
        <a href="/conversation/{{character_id}}/web?conversation_id={{message.first_message or message.id}}">
            {% for concerned in message.concerned %}
            {{ characters_by_ids[concerned].name }}
            {% endfor %}
        </a>
    </li>
    {% endfor %}
</ul>

{% if conversation or current_zone %}
{% if conversation %}
<h2>
    {% for concerned in conversation.concerned %}
    {{ characters_by_ids[concerned].name }}
    {% endfor %}
</h2>

<center>
    {% for concerned in conversation.concerned %}
    <img class="avatar" src="/media/{{ character_avatars_by_ids[concerned] }}"
        alt="{{ characters_by_ids[concerned].name }}" title="{{ characters_by_ids[concerned].name }}" />
    {% endfor %}
</center>
{% endif %}

{% if current_zone %}
    <h2>Conversation de zone</h2>

    <center>
        {% for zone_character in zone_characters %}
        <img class="avatar" src="/media/{{ character_avatars_by_ids[zone_character.id] }}"
            alt="{{ characters_by_ids[zone_character.id].name }}" title="{{ characters_by_ids[zone_character.id].name }}" />
        {% endfor %}
    </center>
{% endif %}

{% for conversation_message in conversation_messages %}
{% if conversation_message.text|trim %}
{% if conversation_message.is_outzone_message %}
<hr />
<p>
    {{ conversation_message.text }}
</p>
{% else %}
<p>
    <img src="/media/{{ character_avatar_thumbs_by_ids[conversation_message.author_id] }}"
        alt="{{ characters_by_ids[conversation_message.author_id].name }}" />
    {{ characters_by_ids[conversation_message.author_id].name }} : {{ conversation_message.text }}
</p>
{% endif %}
{% endif %}
{% endfor %}

<div style="display: block;" id="messageformitem" class="formitem">
    <form method="post" action="">
        <label for="message" id="messagelabel">Parler :</label>
        <div class="textwrapper">
            <textarea cols="35" rows="2" id="message" name="message" /></textarea>
            <input type="submit" value="Envoyer" />
        </div>
        <form>
</div>

{% endif %}

{% endblock %}