<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" href="/static/favicon.ico" />
    <style>
        html,
        body,
        canvas {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            background: black;
            z-index: 0;
        }
    </style>
</head>

<body>
    <canvas id="glcanvas" tabindex='1'></canvas>
    <center id="loader" style="color: white; z-index: 1; position: absolute; width: 100%"><h1>Chargement ...</h1></center>

    <script src="/static/mq_js_bundle.js?v={{ version }}"></script>
    <script src="/static/more.js?v={{ version }}"></script>
    <script src="/static/rollgui2.js?v={{ version }}"></script>
    <script>load("/static/engine.wasm?v={{ version }}");</script>
</body>

</html>